body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav ul{
 padding: auto;
 font-family: Cabin;
}

nav ul li{
  display: inline-block;
  padding: 8px 16px;
 

}
.navbar-nav{
  float: left;
}
div{
  font-family: Cabin;
}
/* h4{
  font-family: Cabin;
} */